<li>
  <span class="item-quantity">
    <%= basket_item.quantity %> x
  </span>

  <span class="item-name">
    <%= basket_item.name %>
  </span>

  <% if basket_item.quantity > 1 %>
    <span class="item-price small text-muted">
      @ <%= humanized_money_with_symbol basket_item.price %> each:
    </span>
  <% end %>

  <span class="item-total">
    <%= humanized_money_with_symbol basket_item.total %>
  </span>

  <div class="actions d-flex">

    <div class="btn-toolbar" role="toolbar" aria-label="Quantity modifiers">
      <div class="btn-group me-2" role="group" aria-label="Edit by 1">
        <%= link_to(increment_basket_item_path(basket_item), method: :patch, class: [:btn, "btn-sm", "btn-outline-secondary"]) do %>
          +1
        <% end %>
        <%= link_to(decrement_basket_item_path(basket_item), method: :patch, class: [:btn, "btn-sm", "btn-outline-secondary"]) do %>
          -1
        <% end %>
      </div>

      <div class="btn-group me-2" role="group" aria-label="Second group">
        <%= link_to(basket_item_path(basket_item), method: :delete, class: [:btn, "btn-sm", "btn-outline-danger"]) do %>
          Remove
        <% end %>
      </div>
    </div>
  </div>
</li>