


<div class="row">
  <div class="col-sm-6">
    <h1>Menu_items</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_menu_item_path, class: 'btn btn-primary' do %>
    Add New Menu item
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Product</th>
            <th>Category</th>
            <th>Position</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @menu_items.each do |menu_item| %>
        <%= content_tag :tr, id: dom_id(menu_item), class: dom_class(menu_item) do %>
          

                      <td><%= menu_item.product.name %></td>
                      <td><%= menu_item.category.name %></td>
                      <td><%= menu_item.position %></td>
          
          
            <td><%= link_to 'Show', menu_item %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
