<%= turbo_frame_tag(nil, data: { product_id: product.id }) do %>
  <h2><%= product.name %></h2>
  <h3><%= humanized_money_with_symbol product.price %></h3>

  <% if product.stock_available? %>
    <span class="small text-muted"><%= product.quantity_available %> remaining</span>
    <%= form_with(model: BasketItem.new(product: product),
                  data: { turbo_frame: "_top" }
        ) do |form| %>
      <%= form.hidden_field(:product_id) %>
      <%= form.submit "Add to Basket", data: { disable_with: false } %>
    <% end %>
  <% else %>
    <span class="text-danger">Out of stock</span>
  <% end %>
<% end %>